
$dark-background:     #121721;
$dark-modal-background: rgb(25, 33, 46);

$octo-dark-primary-text: rgba(black, 0.87);
$octo-light-primary-text: white;
$octo-primary-palette: (
  50: #e4f2f0,
  100: #bcdfd9,
  200: #94cbc0,
  300: #70b6a8,
  400: #5ca696,
  500: #4d9685,
  600: #478979,
  700: #41796a,
  800: #3a695c,
  900: #70b6a8,
  A100: #e4fff9,
  A200: #b1ffec,
  A400: #7effe0,
  A700: #64ffda,
  contrast: (
    50: $dark-background,
    100: $dark-background,
    200: $dark-background,
    300: $dark-background,
    400: $dark-background,
    500: $dark-background,
    600: $dark-background,
    700: $dark-background,
    800: $dark-background,
    900: $dark-background,
    A100: $dark-background,
    A200: $dark-background,
    A400: $dark-background,
    A700: $dark-background,
  )
);

$octo-accent-color: #9ba5cc;
$octo-accent-palette: (
  50: #eef0f6,
  100: #d4d8e9,
  200: #b8bfdb,
  300: $octo-accent-color,
  400: #8591c1,
  500: #707eb6,
  600: #6876af,
  700: #5d6ba6,
  800: #53619e,
  900: #414e8e,
  A100: #e4e8ff,
  A200: #b1bdff,
  A400: #7e93ff,
  A700: #647dff,
  contrast: (
    50: $dark-background,
    100: $dark-background,
    200: $dark-background,
    300: $dark-background,
    400: $dark-background,
    500: $dark-background,
    600: $dark-background,
    700: $dark-background,
    800: $dark-background,
    900: $dark-background,
    A100: $dark-background,
    A200: $dark-background,
    A400: $dark-background,
    A700: $dark-background,
  )
);

$octo-warn-color: #db4d4d;
$octo-warn-palette: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : $octo-warn-color,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
