@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();

@mixin theme($theme) {

  $color-config:    mat.get-color-config($theme);
  $background-palette: map.get($color-config, 'background');

  footer {
    background-color: mat.get-color-from-palette($background-palette, dialog);
  }
}
