/******************** FONTS ********************/
$primary-font: "century-gothic";
$font-md: 1.6rem;

/******************** COLORS ********************/
$black: #000;
$body-color: #fff !default;
$body-bg: #010302 !default;
