/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;


@import "styles/_theme.scss";

//@import 'material-symbols';


//body {
//  background-image: url("./assets/MM-Logo-Schrift-MNT.svg");
//  background-repeat: no-repeat;
//  background-position: center center;
//}
//
.mm-loading-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mm-loading {
  width: 20%
}

//
////a{
////  color: #8bc5bb !important;
////}
//.mat-bread-crumb-list-item {
//  color: #8bc5bb !important;
//}
//
//.input-filterToolbar {
//  font-size: 14px;
//  line-height: 32px;
//  font-weight: 400;
//}
//
///* Absolute Center Spinner */
//.loading-indicator {
//  position: fixed;
//  z-index: 999;
//  height: 2em;
//  width: 2em;
//  overflow: show;
//  margin: auto;
//  top: 0;
//  left: 0;
//  bottom: 0;
//  right: 0;
//}
//
///* Transparent Overlay */
//.loading-indicator:before {
//  content: '';
//  display: block;
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background-color: rgba(0, 0, 0, 0.3);
//}
//.mat-mdc-table {
//  overflow: auto;
//  width: 100%;
//}
//
//.mobile-label {
//  display: none;
//}
//
//.mobileCellHidden {
//  display: flex;
//}
//
//mat-form-field{
//  width: 100%
//}
//
//.mat-mdc-header-cell {
//  white-space: unset !important;
//  word-wrap: break-word !important;
//  overflow-wrap: break-word;
//  word-break: break-word;
//  -ms-hyphens: auto;
//  -moz-hyphens: auto;
//  -webkit-hyphens: auto;
//  hyphens: auto;
//}
//
//.octo-button {
//  padding: 20px;
//  margin-right: 5px;
//}
//
//.octo-toolbar{
//
//  .mat-mdc-text-field-wrapper{
//    height: 40px;
//  }
//
//  // This element reserves space for hints and error messages.
//  // Hide it since we know that we won't need it.
//  .mat-mdc-form-field-subscript-wrapper {
//    display: none;
//  }
//
//  // This code is to make search box smaller than normal
//  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
//    top: 22px;
//  }
//  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded
//  .mdc-floating-label--float-above {
//    --mat-mdc-form-field-label-transform: translateY(
//        -29px)
//    scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
//    transform: var(--mat-mdc-form-field-label-transform);
//  }
//
//  .mat-mdc-form-field-infix{
//    top: -8px;
//  }
//
//  .mat-mdc-form-field-flex {
//    top: -8px;
//  }
//}
//
//.octo-toolbar .octo-spacer{
//  flex: 1 1 auto;
//}
//
//.octo-toolbar button {
//  padding: 20px;
//  margin-right: 5px;
//}
//
//.octo-toolbar .octo-toolbar-search{
//  padding-top: 5px;
//}
//
////.octo-toolbar-search mat-form-field {
////  width: 30%;
////}
//
//
//@media (max-width: 959px) {
//
//  .mat-mdc-table {
//    max-height: 800px;
//  }
//
//  .mat-mdc-table mat-row, .mat-table mat-header-row, .mat-table mat-footer-row {
//    padding-left: 24px;
//    padding-right: 24px;
//  }
//
//  .mat-mdc-table mat-cell:first-child {
//    padding-left: 16px;
//  }
//
//  .mat-mdc-table .mat-column-actions {
//    display: flex;
//    justify-content: flex-end;
//    border-bottom-width: 2px;
//    border-color: $octo-accent-color;
//  }
//
//  .mobile-label {
//    width: 140px;
//    display: inline-block;
//    font-weight: bold;
//  }
//
//  .mat-mdc-footer-row::after, .mat-mdc-header-row::after, .mat-mdc-row::after {
//    min-height: 0;
//  }
//
//  .mat-mdc-header-row {
//    display: none;
//  }
//
//  .mat-mdc-row {
//    flex-direction: column;
//    align-items: start;
//    padding: 8px 24px;
//  }
//
//  .mat-mdc-cell {
//    min-height: auto;
//    width: 100%;
//    display: inline-block;
//  }
//
//  .mobileCellHidden {
//    display: none;
//  }
//
//}
//
//.flex-container {
//  display: flex;
//}
//
//.flex-container > div {
//  margin: 10px;
//  padding: 20px;
//  font-size: 30px;
//}
//
//
