<mat-progress-bar *ngIf="!(apiLoaded | async) || isLoading" mode="indeterminate">
</mat-progress-bar>
<div class="content" *ngIf="apiLoaded | async">
  <google-map width="100%" #map
              height="100%"
              [zoom]="zoom"
              [center]="center"
              (mapInitialized)="mapInitialized($event)"
              (mapClick)="click($event)">
      <map-marker [position]="center"></map-marker>
      <map-marker *ngFor="let marker of markerPositions"
                  [position]="marker.position"
                  [options]="marker.options"></map-marker>
  </google-map>
</div>
